:root {
	/*Está definindo estilos para a raiz do sistema, que no caso é HTML */
	--primary-color: #29335c; /*Criando variaveis no css, que serao usadas ao longo do codigo */
	--light-primary: #0951a9;
	--ligthest-color: #e9ebd5;
	--secondary-color: #774936;
	--light-secondary: #c08972;
}

* {
	/* O * define um estilo que é aplicado a todos os elementos*/
	box-sizing: border-box; /*o tamanho da caixa é calculado de borda a borda */
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100dvh; /*Dynamic Viwport height(DVH)- altura dajanela de visualizacao */
}

button {
	all: unset; /*Remove todas as definiçoes de estilo padrao do elemento button */
	cursor: pointer;
}

header {
	display: flex;
	flex-direction: row; /*Padrao do display flex */
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 1rem;
	background-color: var(
		--primary-color
	); /*Usando a variavel criada la em cima */
	color: var(
		--ligthest-color
	); /*Usando a variavel criada la em cima. A variavel comeca com -- */
	flex-wrap: nowrap;
}

#search-container {
	display: flex;
	align-items: center;
	width: 50%;
	justify-content: flex-end;
}

header > h2 > i {
	margin-right: 0.5rem;
}

.movie-year-wrapper {
	display: flex;
	align-items: center;
}

.movie-name-wrapper {
	display: flex;
	width: 65%;
	align-items: center;
	flex-wrap: nowrap; /*Nao quebra a linha caso nao tenha espaço */
}

.movie-name-wrapper > input {
	/*O sinal de maior indica que todos os filhos diretos do tipo input recebem esse estilo */
	width: 100%;
	min-width: 70px;
}

.movie-year-wrapper > input {
	max-width: 5rem;
}

.movie-name-wrapper > input,  /* aplicando o mesmo estilo para 2 seletores diferentes, separados por virgula  */
.movie-year-wrapper > input {
	margin: 0 0.5rem;
	border-radius: 7px;
	padding: 0.3rem 0.2rem;
	align-items: center;
	font-weight: bold;
}
.movie-name-wrapper > label,
.movie-year-wrapper > label {
	font-weight: bold;
}

#search-button {
	/* all: unset; Remove todas as definiçoes de estilo padrao do elemento button */
	border: 2px solid var(--ligthest-color);
	padding: 0.3rem;
	border-radius: 10px;
}
#search-button:focus,
#search-button:hover {
	background-color: var(--light-primary);
}

main {
	text-align: center;
	background-color: var(--ligthest-color);
	flex-grow: 1;
	color: var(--primary-color);
	padding: 2rem 0;
}

#movie-list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 1rem;
}
#movie-list article {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#movie-list article > img {
	border-radius: 10px;
	margin-bottom: 0.5rem;
}

.remove-button {
	border: solid var(--secondary-color);
	border-radius: 10px;
	width: 100%;
	font-weight: bold;
	box-shadow: 2px 2px 10px #000;
    color: var(--secondary-color);
    padding: 0.3rem;
}

.remove-button:hover,
.remove-button:focus {
	background-color: var(--light-secondary);
    color: var(--ligthest-color);
}
